body {
    font-family: Arial, Sans-Serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-text-stroke=: 0.0px black;
    
    /* Võetud stackoverflow-st */
    
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    
    animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
caption {
    color: white;
}
.page-header h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}
p {
    text-align: center;
}
.tabel caption {
    color: white;
}
#sisu {
    height: 200px;
    font-size: 14pt;
}
#saatminenupp {
    width: 100%;
    margin-top: 20%;
    display: block;
}
#valitud-nupp {
    display: none;
}
.container .jumbotron {
    background-color: #2E2D88;
    transition: all 0.5s ease;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.jumbotron:hover {
    background-color: #4D79FF;
}
h2 {
    color: white !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}
h3 {
    color: white !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}
input {
    margin-bottom: 25px !important;
}
#reg_Nupp {
    width: 40%;
}
#reg_Form {
    margin-top: 3em;
}
#reg_Tagasi {
    margin-top: 25px;
    text-align: center;
}
#msgBox {
    margin-top: 5px;
}
.glyphicon {
    margin-right: 5px;
}
#clicker {
    margin-top: 30px;
}
#alert {
    margin-top: 1em;
    border-width: 5px;
    border-color: red;
}